#### Python Data Types

In [18]:
x = "abc"
y = 'abcd'
z = '''abcde'''
print(x,y,z)

abc abcd abcde

In [19]:
type(x)

str

In [20]:
type(y)

str

In [21]:
type(z)

str

In [ ]:
He said,"Hi, It's a great experience!"

In [22]:
a = '''He said,"Hi, It's a great experience!"''' 
print(a)

He said,"Hi, It's a great experience!"

In [3]:
# This is about single line 
# and multi line comments

'''This is comment line and supports
 multiline comment'''

'This is comment line and supports\n multiline comment'

In [6]:
'''Hi Hello
Hello, Good Morning'''

'Hi Hello\nHello, Good Morning'

In [9]:
# Integer data type

x = 20
print(x)

20

In [10]:
type(x)

int

In [11]:
# Float Datatype
y = 9.6
type(y)

float

In [12]:
print(x*y)
type(x*y)

192.0

float

In [14]:
print(5*x)
type(5*x)

100

int

In [15]:
print(10/2)
type(10/2)

5.0

float

In [15]:
# Boolean datatype
z =True
p = False
print(type(z))
print(type(p))

<class 'bool'>
<class 'bool'>

In [20]:
L = (9<6)
print(L)
type(L)

False

bool

In [17]:
# Complex data type
a = complex(3,10)
b = 3+8j
print(a,b)
type(a),type(b)

(3+10j) (3+8j)

(complex, complex)

In [47]:
a+b

(6+13j)

# Data Structures

### Lists

In [28]:
# List
list1 =[1,2,3,"Hello",5]
print(list1)
type(list1)

[1, 2, 3, 'Hello', 5]

list

In [24]:
list1

[1, 2, 3, 'Hello', 5]

In [25]:
type(list1)

list

In [29]:
# Accessing list element
list1[2]

3

In [30]:
list1[3]

'Hello'

In [30]:
list1[4] == list1[-1]

True

In [41]:
list1

[1, 2, 3, 'Hello', 5]

In [36]:
list1[2]*list1[3]

'HelloHelloHello'

In [37]:
list1

[1, 2, 3, 'Hello', 5]

In [38]:
# Lists are mutable
list1[3]=100

In [39]:
list1

[1, 2, 3, 100, 5]

In [40]:
# List slicing
list1[2:4]

[3, 100]

In [49]:
list1

[1, 2, 3, 10, 5]

In [42]:
L1 = [5,10,2,100,75,26,44]
L1[:5]

[5, 10, 2, 100, 75]

In [45]:
L1[-4:-1]

[100, 75, 26]

In [46]:
L1

[5, 10, 2, 100, 75, 26, 44]

In [44]:
L1[-1]

44

In [80]:
list1

[1, 2, 3, 10, 5]

In [83]:
list1[-4:-1]

[2, 3, 10]

In [39]:
len(list1)

5

### Tuples

In [58]:
# Tuples
tup1 = (10,20,30,40,50,50)
tup1

(10, 20, 30, 40, 50, 50)

In [41]:
type(tup1)

tuple

In [43]:
tup1[-2]

50

In [60]:
tup1[2:5]

(30, 40, 50)

In [44]:
t1 =(1,3.7,True,"Hi")
t1

(1, 3.7, True, 'Hi')

In [54]:
tup2 = (50,20,60,90,30)
tup2

(50, 20, 60, 90, 30)

In [50]:
tup2[3]

90

In [48]:
tup2[3] = 20

TypeError: 'tuple' object does not support item assignment

In [49]:
L1 = [1,3,[5,6],(4,6,7),8]
T1 = (1,3,5,(6,7),[8,6])
print(L1)
print(T1)

[1, 3, [5, 6], (4, 6, 7), 8]
(1, 3, 5, (6, 7), [8, 6])

In [51]:
T1[4][1]=7

In [52]:
T1

(1, 3, 5, (6, 7), [8, 7])

In [55]:
len(tup2)

5

In [64]:
tup1[-3]

40

In [42]:
tup1.count(50)

2

In [57]:
tup1

NameError: name 'tup1' is not defined

In [14]:
tup1.index(50,-1)

5

In [10]:
tup1[2]

30

In [116]:
tup1[-3:-1]

(40, 50)

In [115]:
tup1[3]=20

TypeError: 'tuple' object does not support item assignment

In [59]:
tup1

(10, 20, 30, 40, 50, 50)

In [52]:
# Tuple Slicing
tup1[3:]

(40, 50, 50)

In [53]:
tup1[:4]

(10, 20, 30, 40)

In [55]:
X = [(1,2),3,5,7,9]
X

[(1, 2), 3, 5, 7, 9]

In [60]:
print(X[0][0])
print(X[0][1])

1
2

In [61]:
Y = ([3,4],6,7)
Y

([3, 4], 6, 7)

In [63]:
Y[0][1]

4

In [61]:
# Nested tuple
tup3 = (4,6,(3,4,10),False)
tup3

(4, 6, (3, 4, 10), False)

In [62]:
type(tup3)

tuple

In [67]:
tup3[2]

(3, 4, 10)

In [68]:
tup4 = (1,2,[4,5,6],10)
tup4

(1, 2, [4, 5, 6], 10)

In [69]:
tup4[2][1]

5

In [127]:
tup4

(1, 2, [4, 5, 8], 10)

### Strings

In [3]:
# Strings
str1 = "hello world!"
str1

'hello world!'

In [4]:
len(str1)

12

In [5]:
type(str1)

str

In [67]:
str1[-2]

'd'

In [6]:
str1[-11]

'e'

In [62]:
str1[4]='x'

TypeError: 'str' object does not support item assignment

In [63]:
str1[1:5]

'ello'

In [69]:
len(str1)

12

In [7]:
str1[-5:-1]

'orld'

In [70]:
L2 = [3,5,8,9,0,2,11,-4,-10]
max(L2)

11

In [71]:
min(L2)

-10

In [83]:
len(L2)

4

In [75]:
L3 = ["A","B","Z","X","a","z"]

In [76]:
len(L3)

6

In [77]:
max(L3)

'z'

In [79]:
min(L3)

'A'

In [54]:
max(str1)

'w'

In [17]:
name = ["Sachin", "Hardik","Virat","Vineeth"]
min(name)

'Hardik'

### Dictionaries

In [11]:
# dictionary
d1 = {"Name" : ["Raju","John","Ramya"], "Age":[34,46,21], "Height":[174,156,163], "Gender":['M','M','F']}
d1

{'Name': ['Raju', 'John', 'Ramya'],
 'Age': [34, 46, 21],
 'Height': [174, 156, 163],
 'Gender': ['M', 'M', 'F']}

In [12]:
d1["Name"]

['Raju', 'John', 'Ramya']

In [13]:
d1["Gender"]

['M', 'M', 'F']

In [14]:
print(d1["Name"][0],d1["Age"][0])
print(d1["Age"][0])

Raju 66
66

In [6]:
d1["Age"]= [66,73,69]

In [7]:
d1

{'Name': ['Raju', 'John', 'Ramesh'],
 'Age': [66, 73, 69],
 'Height': [174, 156, 163]}

In [9]:
d1["Weight"]=[50,65,56]

In [10]:
d1

{'Name': ['Raju', 'John', 'Ramesh'],
 'Age': [66, 73, 69],
 'Height': [174, 156, 163],
 'Weight': [50, 65, 56]}

In [17]:
d1["Age"]

[34, 46, 21]

In [24]:
type(d1)

dict

In [21]:
d2 = {1:2, 3:5, 7:10}
len(d2)

3

In [26]:
d2[3]

5

In [23]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
d1.keys()

dict_keys(['Name', 'Age', 'Height', 'Gender'])

In [28]:
len(d1)

3

In [27]:
d1.values()

dict_values([['Raju', 'John', 'Ramya'], [34, 46, 21], [174, 156, 163], ['M', 'M', 'F']])

In [28]:
d1.items()

dict_items([('Name', ['Raju', 'John', 'Ramya']), ('Age', [34, 46, 21]), ('Height', [174, 156, 163]), ('Gender', ['M', 'M', 'F'])])

In [29]:
d1["Name"] = ["Sam",'John', 'Ramesh','Srinivas']

In [30]:
d1

{'Name': ['Sam', 'John', 'Ramesh', 'Srinivas'],
 'Age': [34, 46, 21],
 'Height': [174, 156, 163],
 'Gender': ['M', 'M', 'F']}

In [34]:
d2 = {"Name":["Ram","John", "Ramesh"], "Age":[30,25,34],"WEIGHT":[67,78,76]}
d2

{'Name': ['Ram', 'John', 'Ramesh'],
 'Age': [30, 25, 34],
 'WEIGHT': [67, 78, 76]}

In [38]:
d2.items()

dict_items([('Name', ['Ram', 'John', 'Ramesh']), ('Age', [30, 25, 34]), ('WEIGHT', [67, 78, 76])])

In [30]:
d1

{'Name': ['Sam', 'John', 'Ramesh'],
 'Age': [34, 46, 21],
 'Height': [174, 156, 163],
 'Weight': [66, 73, 69]}

In [31]:
d1.clear()

In [32]:
d1

{}

In [33]:
type(d1)

dict

In [34]:
d2

{1: 2, 3: 5, 7: 10}

In [35]:
d3 = d2.copy()
d3

{1: 2, 3: 5, 7: 10}

In [36]:
d3.popitem()

(7, 10)

In [37]:
d3

{1: 2, 3: 5}

In [38]:
d3.popitem()

(3, 5)

In [39]:
d3.update({10:20})

In [40]:
d3

{1: 2, 10: 20}

In [43]:
d3.update({10:40, 30:60})

In [44]:
d3

{1: 2, 10: 40, 30: 60}

In [45]:
d3.pop(10)

40

In [46]:
d3

{1: 2, 30: 60}

## Sets

In [47]:
set1 = {1,2,9,10,20,1,20,9,2,0,3}
set1

{0, 1, 2, 3, 9, 10, 20}

In [51]:
set2 = {100, "A",'Z', True, 300.98, False,(1,2)}

In [52]:
set2

{(1, 2), 100, 300.98, 'A', False, True, 'Z'}

In [46]:
set1[4]

TypeError: 'set' object is not subscriptable

In [53]:
set1

{0, 1, 2, 3, 9, 10, 20}

In [54]:
len(set1)

7

In [55]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [56]:
set1.add(67)
set1

{0, 1, 2, 3, 9, 10, 20, 67}

In [57]:
set1.add(-9)

In [102]:
set1

{-9, 0, 1, 2, 3, 9, 10, 20, 67}

In [58]:
set1.remove(-9)

In [59]:
set1

{0, 1, 2, 3, 9, 10, 20, 67}

In [70]:
set3 = {12,4,5,(7,8,9)}
set3

{(7, 8, 9), 12, 4, 5}

In [71]:
set1

{0, 1, 2, 3, 9, 10, 20, 67}

In [72]:
set1.remove(20)

In [73]:
set1

{0, 1, 2, 3, 9, 10, 67}

In [119]:
s1 = {[1,2,2,1]}

TypeError: unhashable type: 'list'

In [63]:
s =set((1,2,1,2,10,34,42))
s

{1, 2, 10, 34, 42}

In [74]:
set1[6]

TypeError: 'set' object is not subscriptable

In [75]:
set1[2:5]

TypeError: 'set' object is not subscriptable

In [112]:
set1

{0, 1, 2, 3, 9, 10, 20, 67}

In [76]:
len(set1)

7

In [77]:
min(set1)

0

In [78]:
max(set1)

67

In [116]:
len([1,2,3])

3

In [117]:
max((1,2,3))

3

In [119]:
min(d2)

'Age'

In [204]:
max(["A","C","Z"])

'Z'

## Slicing

In [80]:
str1 = "Hello World!"
str1

'Hello World!'

In [122]:
str1[1:4]

'ell'

In [81]:
str1[0:5:2]

'Hlo'

In [124]:
str1[::-1]

'!dlroW olleH'

In [83]:
list1 = [23,90,78,43,23,12,90]

In [84]:
list1[0:len(list1)]

[23, 90, 78, 43, 23, 12, 90]

In [85]:
list1[0:30]

[23, 90, 78, 43, 23, 12, 90]

In [127]:
list1[1:5:2]

[90, 43]

In [128]:
list1[:4]

[23, 90, 78, 43]

In [129]:
list1[:]

[23, 90, 78, 43, 23, 12, 90]

In [130]:
list1[0::2]

[23, 78, 23, 90]

In [131]:
list1[::-1]

[90, 12, 23, 43, 78, 90, 23]

In [70]:
list1

[1, 2, 3, 4, 5]

In [71]:
str="Welcome"
str

'Welcome'

In [72]:
str[::-1]

'emocleW'

In [86]:
str1

'Hello World!'

In [91]:
list(enumerate(str1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

In [26]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']